:root {
  @media (prefers-color-scheme: light) {
    @each $key, $value in map-get($themes, light) {
      #{$key}: #{$value};
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $key, $value in map-get($themes, dark) {
      #{$key}: #{$value};
    }
  }

  &[theme='light'] {
    @each $key, $value in map-get($themes, light) {
      #{$key}: #{$value};
    }
  }

  &[theme='dark'] {
    @each $key, $value in map-get($themes, dark) {
      #{$key}: #{$value};
    }
  }

  @each $key, $value in $fonts {
    #{$key}: #{$value};
  }

  @each $key, $value in $trans {
    #{$key}: #{$value};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background: var(--bg-gradient);
  color: var(--text-basic);

  transition: color var(--trans-600);

  font-family: var(--ff-default);
  font-size: var(--fz-default);
  line-height: 1.2;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;

  scroll-behavior: smooth;

  .app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}