@mixin header24 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

@mixin body14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@mixin input16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

@mixin button13 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

@mixin bold14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

@mixin caption12 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
