// fonts
$fonts: (
  --fz-default: 16px,
  --ff-default: (
    'Inter',
    'Arial',
    sans-serif
  )
);

// transition
$trans: (
  --tf-default: ease,
  --trans-default: 0.3s var(--tf-default),
  --trans-600: 0.6s var(--tf-default)
);
